logs
local
.vagrant
*-broker.properties
*-mm_consumer.properties
*-mm_producer.properties
*-zookeeper.properties
kafka-src/kafka
kafka-src/kafka-sources
kafka-src/kafka-binaries
.gradle
/kafka-src/KafkaClientAPI/target/
firewall.priv
messages

ssl/*
*.jks

*.zip
*.tar.gz

docker/kafka/

docker-compose.yml

burrow/Burrow/
